@import url("https://fonts.googleapis.com/css2?family=K2D&family=Quicksand:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Manrope&family=Poppins:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: inline;
    vertical-align: middle;
  }
}
@layer components {
  .icon-bar-icon {
    @apply h-full w-full opacity-80 hover:opacity-100 active:opacity-100;
  }
  .btn {
    @apply h-full w-full cursor-pointer border-none px-5 py-2 font-quicksand text-base outline-none hover:transition-all hover:duration-500 hover:ease-in-out;
  }
  .btn-primary {
    @apply rounded-lg border border-solid border-black bg-black text-white hover:bg-transparent hover:text-black;
  }
  .btn-solid {
    @apply rounded-lg text-white hover:opacity-90;
  }
  .btn-outline {
    @apply rounded-lg border border-solid border-black bg-transparent text-black hover:bg-black hover:text-white;
  }
  .btn-calltoaction {
    @apply rounded-3xl bg-accent px-5 py-2 text-white hover:opacity-80;
  }
  .btn-secondary {
    @apply rounded-xl px-5 py-2 text-white hover:opacity-80;
  }
  .btn-small {
    @apply max-sm:px-3 max-sm:py-1.5 max-sm:text-sm;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
